### Assignment 1

1. * : Expression
   'hello': Value
   -87.8 : Value
   - : Expression
   / : Expression
   + : Expression
   6 : Value

2. String: String is a type of one of the data types in python. String can store a single character, a word, a sentence or a whole paragraph. A string can be empty also.

Variable: Variable is a defined alias for any particular value.
For example: a = 54 is variable with a as the variable and 54 being the value the variable is holding

3. Three data types in python are:
    a) Integer: This type gives intgers ranging from -infinity to infinity
    b) Bool: This type provides two values only True and False
    c) List: List is a collection of data. The collection can be of homogenous or non-homogenous data. [1,2,3,4] or [4.5, 6, -2, 'a', 92.4]

4. An expression which evaluates to something or whose value we can print.
For example: 'a', 4, 5.23, x = x+y
Expressions evaluates to something and give us an answer in return

5. Expression: It is something which evaluates to something or whose value we can print. For ex: 'a', 4, 5.23

Statement: Statement is somethng which doesn't evaluates to somethng or doesn't returns anything and whose value we can't print.
For ex: a = 10

In [2]:
# 6.
bacon = 22
bacon +1

23

In [4]:
# 7.
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

8. Because variable name can not be a numeric value

In [11]:
# 9.
a = '34'
int(a)

34

In [12]:
a = 34
float(a)

34.0

In [13]:
a = 34
str(34)

'34'

In [14]:
# 10. 
# 'I have eaten' + 99 + 'burritos.' raises an error because 99 is an integer
# and rest two are strings
# Python can't concatenate expressions of different data types.
# We've to type cast 99 to string for concatenation.

In [15]:
str(99)

'99'

In [17]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'